@charset "UTF-8";
@font-face {
    font-family: Lato;
    src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: LatoBold;
    src: url("assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: LatoBlack;
    src: url("assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: LatoLight;
    src: url("assets/fonts/Lato-Light.ttf");
}

/*Подключение шрифта по умолчанию и сброс настроек браузера*/
body {
    font-family: Lato, sans-serif;
    margin: 95px 0 0 0;
    padding: 0;
    font-size: 10px;
    color: #666d89;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input, textarea {
    outline: none;
}

button {
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

/*Указания ширины контейнера в соответсвии с условиями таска*/
.container {
    width: 100%;
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
}

.test {
    position: relative;
    height: 95px;
    width: 100%;
}


/*Стили для Хедера (Шапки)*/
.header {
    width: 100%;
    max-width: 1020px;
    /* доработка т.к. были ц.у. обрезать область*/
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 95px;
    background-color: #2d303a;
    position: fixed;
    z-index: 100;
}

.header:after {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: #323746;
    bottom: 0;
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 95px;
}

.header__logo h1 {
    font-family: LatoBold;
    font-size: 2.5em;
    letter-spacing: -0.4px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 7px;
    /*корректировака для выравнивания по шаблону PixelPerfect*/
}

.header__logo h1 span {
    color: #f06c64;
}

.header__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3px;
    /*корректировака для выравнивания по шаблону PixelPerfect*/
}

.header__nav-menu a {
    font-family: LatoBold;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-left: 29px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    /*Плавный ховер*/
}

.header__nav-menu a:hover {
    color: #f06c64;
}

a.header__link-menu.active {
    color: #f06c64;
}

.header__nav-menu li {
    position: relative;
}

.header__nav-menu li:before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background-color: #494e62;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 14px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header__nav-menu li:first-child:before {
    display: none;
}

.header__menu-btn {
    display: none;
}

.header__menu-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: #2D303A;
    opacity: 0;
    display: none;
}

.header__menu-bg.active {
    display: block;
    opacity: 0.6;
}

.header__mobile-menu {
    position: fixed;
    width: 278px;
    height: 100vh;
    z-index: 100;
    top: 0;
    background: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    left: -100%;
    transition: .5s all;
}

.header__mobile-menu.active {
    left: 0;
}

.header__mobile-nav-menu {
    width: 205px;
    height: 260px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.header__mobile-menu-link {
    font-family: LatoBold;
    font-size: 2.4em;
    line-height: 29px;
    color: white;
    text-transform: uppercase;
}

.header__mobile-menu-link.active {
    color: #f06c64
}

.header__headline {
    padding-left: 70px;
    padding-top: 25px;
}

.header__headline h2 {
    font-family: LatoBold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.header__headline h2 span {
    color: #f06c64;
}


/*Стили для блока слайдера*/
.slider {
    width: 100%;
    max-width: 1020px;
    /* доработка т.к. были ц.у. обрезать область*/
    margin:  auto;
    height: 600px;
    /*background-color: #f06c64;*/
    position: relative;
    overflow: hidden;
}

.slider__item {
    z-index: -1;
    display: none;
}

.slider__item.future {
    display: block;
}

.slider__item.active {
    display: block;
    opacity: 1;
    z-index: 0;
    left: 0;
    right: 0;
}

.slider__item {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 1s all;
}

.slider__item.left {
    opacity: 1;
    right: auto;
    left: -100%;
    transition: 1s all;
}

.slider__item.right {
    opacity: 1;
    left: auto;
    right: -100%;
    transition: 1s all;
}

.slider__item.right.active {
    opacity: 1;
    z-index: 0;
    /*left: 0;*/
    right: 0;
    transition: 1s all;
}

.slider__item.left.active {
    opacity: 1;
    z-index: 0;
    left: 0;
    /*right: 0;*/
    transition: 1s all;
}


.slider .container {
    position: relative;
    /*Для правильного позиционирование кнопок сладера*/
}


.slider__image-1,
.slider__image-2 {
    position: relative;
}

.phone-image {
    z-index: 10;
}

.phone-background {
    cursor: pointer;
    z-index: 20;
}

.phone-image,
.phone-shadow,
.phone-background {
    position: absolute;
}

.slider__image-1 .phone-image,
.slider__image-1 .phone-shadow {
    top: 54px;
    left: 71px;
}

.slider__image-1 .phone-background {
    top: 116px;
    left: 82px;
}

.slider__image-2 .phone-image,
.slider__image-2 .phone-shadow {
    top: 54px;
    left: 505px;
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotate(90deg);
    transform: rotateZ(90deg);
}

.slider__image-2 .phone-shadow {
    -webkit-transform: rotateY(180deg) rotateZ(90deg);
    transform: rotateY(180deg) rotateZ(90deg);
}

.slider__image-2 .phone-background {
    top: 187px;
    left: 441px;
}

.slider__button {
    position: absolute;
    width: 20px;
    height: 30px;
    /*top: 278px;*/
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next-button {
    position: absolute;
    left: 38px;
}

.prev-button {
    position: absolute;
    right: 38px;
}

.slider__button span {
    display: block;
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: #ca4549;
    border-radius: 5px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.slider__button:hover span {
    background-color: #323746;
}

.next-button span:first-child {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
    top: 20px;
}

.next-button span:last-child {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
    top: 9px;
}

.prev-button span:first-child {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
    top: 20px;
}

.prev-button span:last-child {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
    top: 9px;
}

/*Новые стили для задачи по DOM*/
.slider__item.slider-1 {
    height: 100%;
    background-color: #f06c64;
}

.slider__item.slider-1:after {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: #ea676b;
    bottom: 0;
}

.slider__item.slider-2 {
    height: 100%;
    background-color: #648BF0;
}

.slider-2 .slider__item-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 43px;
}

.slider-2 .image-2 {
    position: relative;
    z-index: 10;
}

.slider-2 .image-1 {
    position: relative;
    right: -17px;
    z-index: 0;
}

.slider-2 .image-3 {
    position: relative;
    right: 26px;
    z-index: 0;
}


.phone-background.horizontal {
    transform: rotateZ(90deg);
    top: 114px;
    left: 514px;
}

.vertical-bg-btn, .horizontal-bg-btn {
    display: none;
}

.vertical-bg-btn.active, .horizontal-bg-btn.active {
    display: block;
}


/*Стили для блока Сервис*/
.services {
    width: 100%;
    max-width: 1020px;
    /* доработка т.к. были ц.у. обрезать область*/
    margin: 0 auto;
    height: 500px;
    padding-top: 59px;
    background-color: #f2f2f2;
    position: relative;
}

.services:after {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: #fff;
    bottom: 0;
}

.services__headline {
    font-family: LatoBlack;
    font-size: 3em;
    letter-spacing: -0.2px;
    margin-bottom: 19px;
}

.services__description {
    font-family: LatoLight;
    font-size: 1.8em;
    line-height: 1.7em;
    margin-bottom: 47px;
    text-align: justify;
}

.service__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.service__card-icon {
    -ms-flex-preferred-size: 60px;
    flex-basis: 60px;
}

.service__card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 37px;
    overflow: hidden;
}

.service__card-item {
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
    overflow: hidden;
}

.service__card-headline {
    font-family: LatoBlack;
    font-size: 1.8em;
    line-height: 0.8em;
    letter-spacing: -0.2px;
    white-space: nowrap;
}

.service__card-description {
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.8em;
    margin-top: 12px;
    height: 60px;
}


/*Стили для блока Portfolio*/
.portfolio {
    height: 870px;
    padding-top: 60px;
    background-color: #2D303A;
}

.portfolio__headline {
    font-family: LatoBlack;
    font-size: 3.0em;
    color: #666d89;
    margin-bottom: 20px;
}

.portfolio__description {
    font-family: Lato;
    color: #767e9e;
    font-size: 1.8em;
    letter-spacing: -0.21px;
    margin-bottom: 17px;
}

.portfolio__btn-block {
    margin-bottom: 18px;
}

.portfolio__tab {
    font-family: Lato;
    color: #767e9e;
    font-size: 1.2em;
    border: 1px solid #666d89;
    padding: 3px 7px;
    border-radius: 5px;
    margin-right: 7px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.portfolio__tab:hover {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.portfolio__tab.active {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.portfolio__card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 601px;
    overflow: hidden;
}

.portfolio__item {
    cursor: pointer;
    width: 220px;
    height: 187px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.portfolio__item.active {
    border: 5px solid #F06C64;
}

.item-1 {
    background-image: url("assets/images/portfolio/item-12.jpg");
}

.item-2 {
    background-image: url("assets/images/portfolio/item-9.jpg");
}

.item-3 {
    background-image: url("assets/images/portfolio/item-6.jpg");
}

.item-4 {
    background-image: url("assets/images/portfolio/item-3.jpg");
}

.item-5 {
    background-image: url("assets/images/portfolio/item-11.jpg");
}

.item-6 {
    background-image: url("assets/images/portfolio/item-8.jpg");
}

.item-7 {
    background-image: url("assets/images/portfolio/item-5.jpg");
}

.item-8 {
    background-image: url("assets/images/portfolio/item-2.jpg");
}

.item-9 {
    background-image: url("assets/images/portfolio/item-10.jpg");
}

.item-10 {
    background-image: url("assets/images/portfolio/item-7.jpg");
}

.item-11 {
    background-image: url("assets/images/portfolio/item-4.jpg");
}

.item-12 {
    background-image: url("assets/images/portfolio/item-1.jpg");
}

/*Стили для блока About Us*/
.about {
    position: relative;
    background-color: #f2f2f2;
    padding-top: 59px;
    height: 734px;
}

.about:after {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.about__headline {
    font-family: LatoBlack;
    color: #666d89;
    font-size: 3em;
    margin-bottom: 20px;
}

.about__description {
    font-family: Lato;
    color: #767e9e;
    font-size: 1.8em;
    letter-spacing: -0.08px;
    line-height: 30px;
    margin-bottom: 44px;
}

.about__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about__name {
    font-family: LatoBlack;
    color: #666d89;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.about__item {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
}

.about__photo {
    width: 300px;
    height: 300px;
    margin-bottom: 13px;
}

.about__detail {
    font-family: Lato;
    color: #767e9e;
    font-size: 1.2em;
    line-height: 21.56px;
    letter-spacing: -0.1px;
    margin-bottom: 22px;
}

.about__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about__social-link {
    position: relative;
    width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
}

.about__social-link:after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.about__social-link:hover::after {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.fb {
    background-image: url("assets/images/portfolio/fb.png");
}

.google {
    background-image: url("assets/images/portfolio/google.png");
}

.twitter {
    background-image: url("assets/images/portfolio/twitter.png");
}

.in {
    background-image: url("assets/images/portfolio/in.png");
}

/*Стили для блока Формы*/
.form {
    background-color: #f06c64;
    padding-top: 67px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 6px solid #ea676b;
}

.form__headline {
    font-family: LatoBlack;
    color: #f0d8d9;
    font-size: 3.0em;
    line-height: 17.86px;
    margin-bottom: 29px;
}

.form__description {
    font-family: Lato;
    color: #f0d8d9;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 45px;
    letter-spacing: -0.1px;
}

.form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form__input {
    -ms-flex-preferred-size: 619px;
    flex-basis: 619px;
}

.form__contact {
    -ms-flex-preferred-size: 301px;
    flex-basis: 301px;
}

.textarea, .input {
    font-family: Lato;
    font-size: 1.2em;
    font-weight: 400;
    color: #f0d8d9;
    width: 100%;
    border: none;
    background-color: #d6564f;
    border-radius: 5px;
    padding: 11px 13px;
    margin-bottom: 17px;
}

.input::-webkit-input-placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.input::-moz-placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.input:-ms-input-placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.input::-ms-input-placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.input::placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.textarea {
    resize: none;
    height: 202px;
    margin-bottom: 10px;
}

.textarea::-webkit-input-placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.textarea::-moz-placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.textarea:-ms-input-placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.textarea::-ms-input-placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.textarea::placeholder {
    font-family: Lato;
    font-size: 1em;
    font-weight: 400;
    color: #f48c8f;
}

.form__contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 6px;
}

.form__contact-item p {
    font-family: Lato;
    color: #f0d8d9;
    font-size: 1.2em;
    font-weight: 400;
}

.form__contact-img {
    width: 13px;
    text-align: center;
    margin-right: 10px;
}

.form__contact-headline {
    font-family: LatoBlack;
    color: #f0d8d9;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 17.86px;
    margin-bottom: 11px;
}

.form__contact-description {
    font-family: Lato;
    color: #f0d8d9;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
    word-wrap: break-word;
    margin-bottom: 28px;
}

.form__contact-link {
    font-family: Lato;
    color: #f0d8d9;
    font-size: 1.2em;
    font-weight: 400;
}

.form__btn-block {
    text-align: right;
}

.btn {
    font-family: LatoBlack;
    color: #f0d8d9;
    font-size: 1.8em;
    font-weight: 400;
    padding: 10px 20px;
    border: 1px solid #f0d8d9;
    border-radius: 5px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.btn:hover {
    border: 1px solid #fff;
    color: #fff;
}

.input.invalid {
    border: 2px solid red;
}


.footer {
    height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #2d303a;
}

.copyright p {
    font-size: 1.15em;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.copyright p:hover {
    color: white;
    cursor: pointer;
}

.footer__social-link a {
    margin-left: 6px;
    position: relative;
}

.footer__social-link a:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 2px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.footer__social-link a:hover:after {
    -webkit-box-shadow: 0 0 5px white;
    box-shadow: 0 0 5px white;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.modal.active {
    display: block;
}

.modal__content {
    width: 100%;
    max-width: 600px;
    padding: 30px 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: none;
}

.modal__content.active {
    display: block;
}

.modal__content h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.modal__content p {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.modal__form-data {
    margin-left: 10px;
}

.modal__btn {
    display: block;
    background-color: #f48c8f;
    border: 1px solid white;
    margin: 20px auto 0;
}

@media screen and (max-width: 1020px) {
    .slider {
        height: 450px;
    }

    .slider__image-1 {
        left: calc(50vw - 350px);
    }

    .slider__image-2 {
        left: calc(50vw - 500px);
    }

    .slider__image-1 .phone-image {
        width: 163px;
    }

    .slider__image-1 .phone-shadow {
        width: 182px;
    }

    .slider__image-1 .phone-background {
        width: 143px;
        top: 103px;
    }

    .slider__image-2 .phone-image {
        width: 163px;
    }

    .slider__image-2 .phone-shadow {
        width: 182px;
    }

    .slider__image-2 .phone-background {
        width: 250px;
        left: 463px;
        top: 157px;
    }

    .slider__image-2 .phone-background.horizontal {
        width: 143px;
        left: 516px;
        top: 104px;
    }

    .slider-2 .image-2 {
        height: 350px;
    }

    .slider-2 .image-1 img,
    .slider-2 .image-2 img,
    .slider-2 .image-3 img {
        height: 100%;
    }

    .slider-2 .image-1 {
        height: 250px;
        right: -13px;
    }

    .slider-2 .image-3 {
        height: 250px;
        right: 17px;
    }

    .services {
        height: auto;
        padding-bottom: 64px;
    }

    .portfolio {
        height: auto;
        padding-bottom: 70px;
    }

    .portfolio__card-block {
        height: auto;
    }

    .about__item {
        flex-basis: 218px;
    }

    .about__photo {
        width: 218px;
        height: 218px;
    }

    .about__photo img {
        width: 100%;
        height: auto;
    }

    .form__input {
        flex-basis: 64%;
    }

    .form__contact {
        flex-basis: 32%;
    }
}

@media screen and (max-width: 767px) {
    body {
        margin-top: 71px;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        height: 71px;
    }

    .header__nav-menu {
        display: none;
    }

    .header__content {
        height: 71px;
        justify-content: center;
    }

    .header__logo h1 {
        margin-bottom: 0;
    }

    .header__menu-btn {
        display: block;
        position: fixed;
        width: 25px;
        height: 20px;
        top: 25px;
        left: 20px;
        transition: .3s all;
        z-index: 200;
    }

    .header__menu-btn span {
        display: block;
        position: absolute;
        top: 0;
        width: 25px;
        height: 2.4px;
        background: white;
        border-radius: 5px;

    }

    .header__menu-btn span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .header__menu-btn span:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
    }

    .header__menu-btn.active {
        transform: rotateZ(90deg);
    }


    .slider {
        margin: 71px auto 0;
        height: 220px;
    }

    .slider__image-1 {
        left: calc(50% - 200px);
    }

    .slider__image-1 .phone-image {
        width: 79px;
        top: 30px;
    }

    .slider__image-1 .phone-shadow {
        width: 88px;
        top: 30px;
    }

    .slider__image-1 .phone-background {
        width: 69px;
        top: 54px;
        left: 76px;
    }

    .slider__image-2 .phone-image {
        width: 79px;
        top: 30px;
        left: 475px;
    }

    .slider__image-2 .phone-shadow {
        width: 88px;
        top: 30px;
        left: 475px;
    }

    .slider__image-2 .phone-background {
        width: 122px;
        left: 455px;
        top: 79px;
    }

    .slider__image-2 .phone-background.horizontal {
        width: 71px;
        left: 480px;
        top: 53px;
    }

    .next-button {
        left: 10px;
    }

    .prev-button {
        right: 10px;
    }


    .services {
        padding-bottom: 15px;
    }

    .service__card-body {
        flex-basis: 100%;
    }

    .service__card-item {
        flex-basis: calc(100% - 80px);
    }

    .portfolio {
        padding-bottom: 40px;
    }

    .portfolio__card-block {
        height: 544px;
        overflow-y: hidden;
    }

    .portfolio__tab {
        margin-right: 5px;
    }

    .portfolio__item {
        width: 151px;
        height: 128px;
        margin-bottom: 14px;
    }

    .about {
        height: auto;
        padding-bottom: 40px;
    }

    .about__card {
        display: block;
    }

    .about__item {
        width: 100%;
        max-width: 315px;
        margin: 30px auto;
    }

    .about__photo {
        width: 100%;
        height: auto;
    }

    .about__photo img {
        width: 100%;
    }

    .form {
        padding-bottom: 30px;
    }

    .form__body {
        display: block;
        /*width: 100;*/
    }

    .btn {
        width: 100%;
        margin-bottom: 20px;
    }

    .slider-2 .image-1 img,
    .slider-2 .image-2 img,
    .slider-2 .image-3 img {
        height: 51%;
    }

    .slider-2 .slider__item-block {
        padding-top: 20px;
    }
}

@media screen and (max-width: 425px) {
    .copyright {
        display: none;
    }

    .footer {
        justify-content: center;
    }
}