/*Стили для блока Portfolio*/
.portfolio {
    height: 870px;
    padding-top: 60px;
    background-color: #2D303A;
}
.portfolio__headline {
    font-family: LatoBlack;
    font-size: 3.0em;
    color: #666d89;
    margin-bottom: 20px;
}
.portfolio__description {
    font-family: Lato;
    color: #767e9e;
    font-size: 1.8em;
    letter-spacing: -0.21px;
    margin-bottom: 17px;
}
.portfolio__btn-block {
    margin-bottom: 18px;
}
.portfolio__tab {
    font-family: Lato;
    color: #767e9e;
    font-size: 1.2em;
    border: 1px solid #666d89;
    padding: 3px 7px;
    border-radius: 5px;
    margin-right: 7px;
    transition: .3s ease-in-out;
}
.portfolio__tab:hover {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}
.portfolio__tab.active {
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}
.portfolio__card-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 601px;
    overflow: hidden;
}
.portfolio__item {
    width: 220px;
    height: 187px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}
.item-1 {
    background-image: url("assets/images/portfolio/item-12.jpg");
}
.item-2 {
    background-image: url("assets/images/portfolio/item-9.jpg");
}
.item-3 {
    background-image: url("assets/images/portfolio/item-6.jpg");
}
.item-4 {
    background-image: url("assets/images/portfolio/item-3.jpg");
}
.item-5 {
    background-image: url("assets/images/portfolio/item-11.jpg");
}
.item-6 {
    background-image: url("assets/images/portfolio/item-8.jpg");
}
.item-7 {
    background-image: url("assets/images/portfolio/item-5.jpg");
}
.item-8 {
    background-image: url("assets/images/portfolio/item-2.jpg");
}
.item-9 {
    background-image: url("assets/images/portfolio/item-10.jpg");
}
.item-10 {
    background-image: url("assets/images/portfolio/item-7.jpg");
}
.item-11 {
    background-image: url("assets/images/portfolio/item-4.jpg");
}
.item-12 {
    background-image: url("assets/images/portfolio/item-1.jpg");
}

/*Стили для блока About Us*/
.about {
    position: relative;
    background-color: #f2f2f2;
    padding-top: 59px;
    height: 734px;
}
.about:after {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
}
.about__headline {
    font-family: LatoBlack;
    color: #666d89;
    font-size: 3em;
    margin-bottom: 20px;
}
.about__description {
    font-family: Lato;
    color: #767e9e;
    font-size: 1.8em;
    letter-spacing: -0.08px;
    line-height: 30px;
    margin-bottom: 44px;
}
.about__card {
    display: flex;
    justify-content: space-between;
}
.about__name {
    font-family: LatoBlack;
    color: #666d89;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.about__item {
    flex-basis: 300px;
}
.about__photo {
    width: 300px;
    height: 300px;
    margin-bottom: 13px;
}
.about__detail {
    font-family: Lato;
    color: #767e9e;
    font-size: 1.2em;
    line-height: 21.56px;
    letter-spacing: -0.1px;
    margin-bottom: 22px;
}
.about__social {
    display: flex;
}
.about__social-link {
    position: relative;
    width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
}
.about__social-link:after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
}
.about__social-link:hover::after {
    box-shadow: 0 0 5px rgba(0,0,0, .4);
}
.fb {
    background-image: url("assets/images/portfolio/fb.png");
}
.google {
    background-image: url("assets/images/portfolio/google.png");
}
.twitter {
    background-image: url("assets/images/portfolio/twitter.png");
}
.in {
    background-image: url("assets/images/portfolio/in.png");
}